apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
  namespace: fullstack-app
spec:
  template:
    spec:
      containers:
        - name: backend
          env:
            - name: SESSION_SECRET
              valueFrom:
                secretKeyRef:
                  name: db-secret
                  key: SESSION_SECRET
