.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.*
tfplan
*.tfvars
!terraform.tfvars.example
.env
.terraform.tfstate.lock.info
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
