apiVersion: v1
kind: Service
metadata:
  name: backend-service
  namespace: fullstack-app
  labels:
    app: backend
    tier: backend
spec:
  ports:
    - port: 4000
      targetPort: 4000
      name: http
  selector:
    app: backend
  type: ClusterIP
