apiVersion: v1
kind: Service
metadata:
  name: postgres-service
  namespace: fullstack-app
  labels:
    app: postgres
    tier: database
spec:
  ports:
    - port: 5432
      targetPort: 5432
      name: postgres
  clusterIP: None # Headless service for statefulset
  selector:
    app: postgres
